.font-arimo{
    font-family: Arimo;
}
.font-roboto{
    font-family: Roboto Slab;
}
.font-cormorant{
    font-family: 'Cormorant Garamond';
}
.color{
    background-color: rgba(198, 246, 255, 0.5);
}