@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: Roboto Slab;
        src: url('/src/Assets/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
    }
    @font-face {
        font-family: Cormorant Garamond;
        src: url('/src/Assets/Cormorant_Garamond/CormorantGaramond-Regular.ttf');
    }
    @font-face {
        font-family: Arimo;
        src: url('/src/Assets/Arimo/Arimo-VariableFont_wght.ttf');
    }
}